.section-subtitle {
  font-family: "Roboto", sans-serif;
  width: 100%;
  color: black;
}

.section-title {
  width: 100%;
  font-size: 24px;
  font-family: "Shrikhand", serif;
}

body {
  margin: 10px;
  width: 375px;
  background-color: #217a64;
}

header {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  min-width: 375px;
}
header .header__logo {
  width: 200px;
}

.header {
  width: 100%;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(218, 211, 211);
  box-shadow: 1px 1px 1px 1px rgb(244, 232, 232);
}

.form-group {
  display: flex;
}
.form-group .form-group__localisation {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  /*background-color: rgb(195, 190, 190);*/
}
.form-group .form-group__localisation input {
  width: 200%;
  text-align: center;
  border: none;
  /* background-color:rgb(195, 190, 190); */
}

#city .fa-location-dot {
  display: flex;
  flex-direction: row;
  color: black;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 700;
}

::placeholder {
  color: black;
}

.btn-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
}
.btn-nav h2 {
  text-align: left;
}
.btn-nav .restaurant {
  justify-content: center;
  align-items: center;
  text-align: center;
}
.btn-nav .btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 250px;
  /* background-color:  #dd3fce;*/
  background: linear-gradient(#ee61ac, #dd3fce, #9f1aa1);
  opacity: 0.9;
  border-radius: 30px;
  margin-bottom: 10px;
  box-shadow: 3px 3px 3px 3px rgb(218, 211, 211);
}
.btn-nav .btn .section-subtitle {
  color: white;
  padding: 10px;
  text-align: center;
}

.choice-1 .nav {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 15px;
  padding-left: 15px;
  width: 70%;
  border-bottom: 1px solid rgb(218, 211, 211);
  box-shadow: 1px 1px 1px 1px rgb(244, 232, 232);
  border-radius: 15px;
  margin-bottom: 20px;
  width: 200px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: space-around;
  align-items: left;
  justify-content: left;
  margin-left: 20px;
}
main a .cards-menus__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 330px;
  border-radius: 15px;
  box-shadow: 1px 1px 1px 1px rgb(244, 232, 232);
  margin-bottom: 20px;
}
main .news {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #99E2D0;
  color: #217a64;
  border-radius: 3px;
  position: relative;
  bottom: 170px;
  left: 100px;
  width: 110px;
  height: 30px;
}
main .btn-nav i {
  color: #9356DC;
  font-size: 20px;
}
main .cercle i {
  display: flex;
  height: 30px;
  width: 30px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 8px;
  border-radius: 50%;
  background-color: #e63ccc;
  color: white;
  background-color: #9356DC;
  font-size: 10px;
  margin-bottom: 5px;
}
main .row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
main span .fa-heart {
  display: none;
}
main span .fa-heart div .fa-heart :active {
  color: #9356DC;
}

/*div .fa-heart{
    color:#cf79be;

    :active{
        color: $primairy-color;
    }*/
.card-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: 15px;
  text-align: left;
  font-size: 20px;
  flex-direction: row;
}
.card-content .card-text {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: left;
  align-items: left;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 15px 15px 0 0;
}

footer {
  background-color: black;
  text-align: left;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
footer p {
  margin: 5px;
}
footer a {
  text-decoration: none;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: left;
  margin-left: 15px;
}
footer i {
  padding-right: 10px;
  margin-top: 7px;
  font-size: small;
}
footer .logo {
  color: white;
  text-align: left;
  margin-bottom: 10px;
  margin-left: 15px;
}

/*# sourceMappingURL=style.index.css.map */
