@use "../utils/variables" as *; // ajout des variables pour les utilisé dans ce fichier (le "as *" permet de ne pas donner d'alias")
@use "../utils/mixins" as *;

.section-subtitle, p, .card-title, h3 {
  font-family: "Roboto", sans-serif;
  width: 100%;
  color: black;
}

.section-title {
  width: 100%;
  font-size: 24px;
  font-family: "Shrikhand", serif;
}

body {
  margin: 0%;
  padding: 0%;
  width: auto;
}

.fa-heart {
  font-size: 24px;
}

a {
  text-decoration: none;
  color: #000000;
}

.cards-menus {
  width: 100%;
  /*min-width: 320px;*/
  box-sizing: border-box;
}

/******************************* HEADER *****************************/

header {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;

  & ::placeholder {
    color: black;
  }

  & input {
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    background-color: rgb(234, 226, 226);
    margin: 0%;
    width: 110px;

    & #city {
      display: flex;
      flex-direction: row;
      color: black;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-weight: 700;
    }

    & .fa-location-dot {
      display: flex;
      text-align: center;
    }
  }
}

/******************************* NAV ***************************/

.info {
  background-color: rgb(248, 244, 244);
  width: 100%;

  & .btn-resa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*margin: 10px;*/
    padding-bottom: 20px;
  }

  .btn {
    width: 40%;
    font-size: 13px;

    @include breakpoint(small) {
      font-size: 15px;
      width: 25%;
      height: 45px;
    }

    @include breakpoint(medium) {
      width: 20%;
      height: 45px;
    }

    @include breakpoint(large) {
      width: 15%;
      height: 45px;
      margin-right: 120px;
    }
  }

  & h2 {
    text-align: left;
  }
}

.row {
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-right: 30px;
  border-bottom: 1px solid rgb(218, 211, 211);
  box-shadow: 1px 1px 1px 1px rgb(244, 232, 232);
  background-color: rgb(245, 241, 241);
  box-shadow: 3px 3px 3px 3px rgb(218, 211, 211);
  border-radius: 20px;
  margin-bottom: 25px;
  text-align: center;
  width: 100%;

  & .nav {
    font-weight: bold;
    font-size: small;

    padding: 0%;
  }

  & .cercle {
    margin-bottom: 35px;
    margin-right: 5px;
  }

  .nav {
    text-align: center;
    padding: 10px;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-resa span {
  color: $primairy-color;
  font-size: 20px;
  padding: 15px;
}

.cercle i {
  display: flex;
  height: 25px;
  width: 25px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  border-radius: 50%;
  background-color: #e63ccc;
  color: white;
  background-color: $primairy-color;
  font-size: 10px;
  display: flex;
  flex-direction: row;
  position: relative;
  right: 35px;
  top: 20px;
}

.fa-store {
  color: $primairy-color;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/***************cards-menus***************/

@media (min-width: 768px) {
  .fonction {
    width: 100%;
    justify-content: center;
    align-items: center;
    @include breakpoint(medium) {
      width: 100%;
    }

    & .section-subtitle {
      margin-left: 25px;
      /*font-size: large;*/
      font-weight: bold;
      width: 80%;
      @include breakpoint(medium) {
        margin-left: 55px;
        font-size: large;
      }
    }

    .choice-fonction {
      margin-left: 10px;
      display: flex;
      flex-direction: row;
      @include breakpoint(small) {
      }
      @include breakpoint(medium) {
        margin-left: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 90%;
      }

      @include breakpoint(large) {
      }

      & .row {
        margin-left: 15px;
        padding-left: 0px;
        text-align: center;
        margin-right: 0%;
        width: 50%;

        @include breakpoint(small) {
        }
        @include breakpoint(medium) {
          margin-left: 25px;
          justify-content: center;
          align-items: center;
          text-align: center;
        }

        @include breakpoint(large) {
        }

        & .cercle {
          display: flex;
          flex-direction: row;
          position: relative;
          left: 20px;
          top: 0px;
        }

        & span {
          text-align: left;
          margin: auto;
        }

        & .nav {
          font-size: 13px;
          width: 100%;
          text-align: center;

          @include breakpoint(medium) {
            font-size: 15px;
            width: 100%;
          }
          @include breakpoint(large) {
            font-size: 17px;
            width: 100%;
          }
        }
      }
    }
  }
}

/******* Media queries ***********/

@media (min-width: 1440px) {
  .fonction {
    width: 90%;

    & .section-subtitle {
      margin-left: 85px;
      font-size: 22px;
    }

    .row {
      justify-content: center;
      align-items: center;

      & .cercle {
        display: flex;
        flex-direction: row;
        position: relative;
        left: 22px;
        top: 0px;
      }

      & span {
        text-align: left;
        margin: auto;
      }

      & .nav {
        font-size: 18px;
        width: 160px;
        text-align: left;
      }
    }
  }
}
