@charset "UTF-8";
h1 .section-subtitle, p, .card-title, h3 {
  font-family: "Roboto", sans-serif;
  width: 100%;
  color: black;
}

.section-title {
  width: 100%;
  font-size: 24px;
  font-family: "Shrikhand", serif;
}

body {
  margin: 0%;
  padding: 0%;
  width: auto;
}

.fa-heart {
  font-size: 24px;
}

a {
  text-decoration: none;
  color: #000000;
}

.cards-menus {
  width: 100%;
  /*min-width: 320px;*/
  box-sizing: border-box;
}

/******************************* HEADER *****************************/
header {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}
header ::placeholder {
  color: black;
}
header input {
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  background-color: rgb(234, 226, 226);
  margin: 0%;
  width: 110px;
}
header input #city {
  display: flex;
  flex-direction: row;
  color: black;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 700;
}
header input .fa-location-dot {
  display: flex;
  text-align: center;
}

/******************************* NAV ***************************/
.info {
  background-color: rgb(248, 244, 244);
  width: 100%;
}
.info .btn-resa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /*margin: 10px;*/
  padding-bottom: 20px;
}
.info .btn {
  width: 40%;
  font-size: 13px;
}
@media (min-width: 768px) {
  .info .btn {
    font-size: 15px;
    width: 25%;
    height: 45px;
  }
}
@media (min-width: 1024px) {
  .info .btn {
    width: 20%;
    height: 45px;
  }
}
@media (min-width: 1440px) {
  .info .btn {
    width: 15%;
    height: 45px;
    margin-right: 120px;
  }
}
.info h2 {
  text-align: left;
}

.row {
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-right: 30px;
  border-bottom: 1px solid rgb(218, 211, 211);
  box-shadow: 1px 1px 1px 1px rgb(244, 232, 232);
  background-color: rgb(245, 241, 241);
  box-shadow: 3px 3px 3px 3px rgb(218, 211, 211);
  border-radius: 20px;
  margin-bottom: 25px;
  text-align: center;
  width: 100%;
}
.row .nav {
  font-weight: bold;
  font-size: small;
  padding: 0%;
}
.row .cercle {
  margin-bottom: 35px;
  margin-right: 5px;
}
.row .nav {
  text-align: center;
  padding: 10px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-resa span {
  color: #9356dc;
  font-size: 20px;
  padding: 15px;
}

.cercle i {
  display: flex;
  height: 25px;
  width: 25px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  border-radius: 50%;
  background-color: #e63ccc;
  color: white;
  background-color: #9356dc;
  font-size: 10px;
  display: flex;
  flex-direction: row;
  position: relative;
  right: 35px;
  top: 20px;
}

.fa-store {
  color: #9356dc;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/***************cards-menus***************/
@media (min-width: 768px) {
  .fonction {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 768px) and (min-width: 1024px) {
  .fonction {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .fonction .section-subtitle {
    margin-left: 25px;
    /*font-size: large;*/
    font-weight: bold;
    width: 80%;
  }
}
@media (min-width: 768px) and (min-width: 1024px) {
  .fonction .section-subtitle {
    margin-left: 55px;
    font-size: large;
  }
}
@media (min-width: 768px) {
  .fonction .choice-fonction {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 768px) and (min-width: 1024px) {
  .fonction .choice-fonction {
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
  }
}
@media (min-width: 768px) {
  .fonction .choice-fonction .row {
    margin-left: 15px;
    padding-left: 0px;
    text-align: center;
    margin-right: 0%;
    width: 50%;
  }
}
@media (min-width: 768px) and (min-width: 1024px) {
  .fonction .choice-fonction .row {
    margin-left: 25px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .fonction .choice-fonction .row .cercle {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 20px;
    top: 0px;
  }
  .fonction .choice-fonction .row span {
    text-align: left;
    margin: auto;
  }
  .fonction .choice-fonction .row .nav {
    font-size: 13px;
    width: 100%;
    text-align: center;
  }
}
@media (min-width: 768px) and (min-width: 1024px) {
  .fonction .choice-fonction .row .nav {
    font-size: 15px;
    width: 100%;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .fonction .choice-fonction .row .nav {
    font-size: 17px;
    width: 100%;
  }
}
/******* Media queries ***********/
@media (min-width: 1440px) {
  .fonction {
    width: 90%;
  }
  .fonction .section-subtitle {
    margin-left: 85px;
    font-size: 22px;
  }
  .fonction .row {
    justify-content: center;
    align-items: center;
  }
  .fonction .row .cercle {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 22px;
    top: 0px;
  }
  .fonction .row span {
    text-align: left;
    margin: auto;
  }
  .fonction .row .nav {
    font-size: 18px;
    width: 160px;
    text-align: left;
  }
}
/*****************Bouton*****************/
.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 40%;
  height: 40px;
  padding-left: 25px;
  padding-right: 25px;
  /*width: 270px;*/
  background: linear-gradient(#ff79da, #9356dc 75%);
  opacity: 0.8;
  border-radius: 30px;
  margin-bottom: 10px;
  box-shadow: 3px 3px 3px 3px rgb(218, 211, 211);
}
.btn a {
  text-decoration: none;
  width: 100%;
  height: auto;
  margin: 0%;
  padding: 0%;
}
.btn .text-btn {
  color: white;
  padding: 0px;
}
.btn .text-btn:hover {
  transform: translate(-0.2vh);
}
.btn .text-btn {
  transition: transform 100ms ease;
}
.btn:hover {
  background: linear-gradient(#ff79da, #9356dc 75%);
  opacity: 0.6;
}
.btn {
  transition: transform 200ms ease;
}

.header__logo {
  width: 200px;
  display: flex;
  transition: 2s;
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  background-color: black;
  text-align: left;
  color: white;
  justify-content: center;
  /* &.section-title {
      color: white;
      width: 80%;
      margin-bottom: 10px;

      box-sizing: border-box;
    }*/
}
footer p {
  width: 70%;
  color: white;
  margin: 5px;
  box-sizing: border-box;
}
footer p.section-title {
  color: white;
  width: 80%;
  margin-bottom: 10px;
}
footer a {
  color: white;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  width: 80%;
  box-sizing: border-box;
}
footer i {
  color: white;
  padding-right: 10px;
  margin-top: 7px;
  font-size: small;
}

@media (min-width: 1024px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: right;
    padding-top: 20px;
  }
  footer a {
    font-size: 11px;
    /*  text-align: center;*/
    margin-top: 20px;
    /*padding-top: 40px;*/
    margin-left: 0px;
    padding: 0px;
    justify-content: right;
    text-align: right;
  }
  footer i {
    padding-right: 10px;
    margin-top: 7px;
    font-size: small;
    color: white;
  }
}
@media (min-width: 1440px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: center;
    /* text-align: center;*/
    padding-top: 20px;
    margin: 0%;
    padding: 0%;
  }
  footer a {
    font-size: 11px;
    /*  text-align: center;*/
    margin-top: 20px;
    /*padding-top: 40px;*/
    /* width: 150px;*/
  }
  footer a i {
    padding-right: 10px;
    margin-top: 7px;
    font-size: small;
    color: white;
  }
}
@media (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: right;
    /* text-align: center;*/
    padding-top: 20px;
  }
  footer .logo {
    text-align: center;
    justify-content: left;
    margin-right: 50px;
    /*padding-left: 0px;*/
    margin-bottom: 20px;
  }
  footer .logo.section-title {
    font-size: 18px;
  }
  footer a {
    font-size: 11px;
    width: 100%;
    margin-bottom: 35px;
    padding: 0px;
    /*padding-top: 10px;*/
    /*padding-top: 40px;*/
    margin-right: 0px;
    justify-content: right;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: row;
    /* align-items: left;*/
    margin-left: 15px;
    font-size: 11px;
    /*  text-align: center;*/
    margin-top: 20px;
    /*padding-top: 40px;*/
    margin-left: 5px;
    padding: 0px;
    text-align: center;
    margin-top: 10px;
    align-items: center;
    /*flex-direction: row-reverse;*/
  }
  footer .contact {
    display: flex;
    flex-direction: row;
  }
  footer .general {
    display: flex;
    flex-direction: row;
  }
  footer p {
    margin: 2px;
    color: white;
    font-size: 12px;
    /*width: 150px;*/
    width: 110px;
    /* padding-right: 0px;*/
  }
  footer .contact {
    justify-content: left;
    padding-left: 60px;
    margin-left: 30px;
  }
  footer.mentions {
    padding-left: 10px;
    margin: 0%;
  }
  footer i {
    /*margin-left: 2px;*/
    padding-bottom: 5px;
    font-size: 12px;
    color: white;
    padding-right: 3px;
  }
}
.group-form {
  width: 100%;
  width: 100%;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(234, 226, 226);
  margin: 0% auto;
}

.group-form__localisation {
  display: flex;
  flex-direction: row;
}

/***************cards de la page d'accueil***************/
/*******version portable *******/
.cards-menus__card {
  background-color: white;
  border-radius: 20px;
  padding-bottom: 15px;
  position: relative;
  /*top: 20px;
  left: 17px;*/
}

.cards-menus__card img {
  object-fit: cover;
}

.cards-menus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding-left: 20px;*/
  box-sizing: border-box;
}
.cards-menus h2 {
  justify-content: center;
  text-align: center;
  align-items: center;
}
.cards-menus h2 .section-subtitle {
  font-weight: bold;
  /*margin-left: 15px;*/
  /* padding-left: 30px;*/
}
.cards-menus a {
  text-decoration: none;
  color: #000000;
  width: 90%;
}
.cards-menus a .cards-menus__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  box-shadow: 1px 1px 1px 1px rgb(244, 232, 232);
  margin-bottom: 20px;
  padding: 0%;
}
.cards-menus a .cards-menus__card img {
  width: 100%;
  height: 150px;
  border-radius: 15px 15px 0 0;
  padding-bottom: 0%;
}
.cards-menus .card-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  /* margin-right: 15px;*/
  font-size: 20px;
  justify-content: space-between;
}
.cards-menus .card-content .icons {
  position: relative;
  top: 20px;
  left: 17px;
}
.cards-menus .card-content .icons i {
  position: absolute;
  top: 20px;
  right: 50px;
}
.cards-menus .card-content .icons .fa-solid {
  opacity: 0;
}
.cards-menus .card-content .icons .fa-solid:hover {
  opacity: 1;
  color: transparent;
  background-image: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  cursor: pointer;
  transition: all 0.3s;
}
.cards-menus .news {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #99e2d0;
  color: #217a64;
  border-radius: 3px;
  position: absolute;
  right: 20px;
  width: 80px;
  height: 30px;
  top: 20px;
}

/*******version tablette*******/
@media (min-width: 768px) {
  .cards-menus {
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    /*justify-content: center;*/
    text-decoration: none;
    align-items: center;
    background-color: rgb(245, 241, 241);
    /*margin-left: 25px;*/
  }
  .cards-menus a {
    text-decoration: none;
    color: #000000;
    width: 45%;
    margin: 15px;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cards-menus a .cards-menus__card {
    /*flex-wrap: wrap;*/
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 1px rgb(244, 232, 232);
    margin-bottom: 20px;
    padding: 0%;
    /* margin-left: 20px;-*/
  }
  .cards-menus a .cards-menus__card img {
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0 0;
    padding-bottom: 0%;
  }
  .cards-menus .card-content {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-left: 15px;
    font-size: 20px;
    justify-content: space-between;
  }
  .cards-menus .news {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #99e2d0;
    color: #217a64;
    border-radius: 3px;
    position: relative;
    left: 120px;
    width: 80px;
    height: 30px;
    top: -130px;
    /* @include breakpoint(medium){
              margin-left: 40px;
          }*/
  }
}
/*******version desktop *******/
@media (min-width: 1024px) {
  .cards-menus {
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    /*justify-content: center;*/
    text-decoration: none;
    align-items: center;
    background-color: rgb(245, 241, 241);
    /*margin-left: 25px;*/
    /* & h2 {
      padding-right: 145px;

     }*/
  }
  .cards-menus a {
    text-decoration: none;
    color: #000000;
    width: 43%;
    margin: 15px;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cards-menus a .cards-menus__card {
    /*flex-wrap: wrap;*/
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 1px rgb(244, 232, 232);
    margin-bottom: 20px;
    padding: 0%;
    /* margin-left: 20px;-*/
  }
  .cards-menus a .cards-menus__card img {
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0 0;
    padding-bottom: 0%;
  }
  .cards-menus .news {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #99e2d0;
    color: #217a64;
    border-radius: 3px;
    position: relative;
    left: 160px;
    width: 80px;
    height: 30px;
    top: -140px;
  }
}
/*******version desktop *******/
@media (min-width: 1440px) {
  .cards-menus {
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    /*justify-content: center;*/
    text-decoration: none;
    align-items: center;
    background-color: rgb(245, 241, 241);
    /*margin-left: 25px;*/
  }
  .cards-menus a {
    text-decoration: none;
    color: #000000;
    width: 39%;
    margin: 15px;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cards-menus a .cards-menus__card {
    /*flex-wrap: wrap;*/
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 1px rgb(244, 232, 232);
    margin-bottom: 20px;
    padding: 0%;
    /* margin-left: 20px;-*/
  }
  .cards-menus a .cards-menus__card img {
    width: 100%;
    height: 150px;
    border-radius: 15px 15px 0 0;
    padding-bottom: 0%;
  }
  .cards-menus .news {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #99e2d0;
    color: #217a64;
    border-radius: 3px;
    position: relative;
    left: 210px;
    width: 80px;
    height: 30px;
    top: -140px;
  }
}
/**************Loader animation**************/
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(247, 233, 233);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: hideLoader 5s forwards;
  z-index: 1;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 3s linear infinite, hideLoader 3s forwards; /* Animation de rotation et masquage après 10 secondes */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes hideLoader {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
/****************page restaurant ********************/
/*******version portable *******/
.container-restaurant {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*background-color: white;*/
  box-sizing: border-box;
  margin-left: 0;
  overflow-x: hidden;
  /*visibility: hidden;*/
}
.container-restaurant .fa-arrow-left-long {
  font-size: 20px;
  position: relative;
  right: 135px;
  top: 28px;
}
@media (min-width: 768px) {
  .container-restaurant .fa-arrow-left-long {
    top: 28px;
    left: -325px;
  }
}
@media (min-width: 1024px) {
  .container-restaurant .fa-arrow-left-long {
    position: relative;
    left: -480px;
  }
}
@media (min-width: 1440px) {
  .container-restaurant .fa-arrow-left-long {
    position: relative;
    left: -680px;
  }
}
.container-restaurant a {
  text-decoration: none;
  color: black;
  width: 100%;
  box-sizing: border-box;
}
.container-restaurant .title {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding-right: 20px;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}
.container-restaurant .title .icons {
  position: relative;
  top: 20px;
  left: 17px;
  left: 40px;
  top: 3px;
  text-align: center;
}
.container-restaurant .title .icons i {
  position: absolute;
  top: 20px;
  right: 50px;
}
.container-restaurant .title .icons .fa-solid {
  opacity: 0;
}
.container-restaurant .title .icons .fa-solid:hover {
  opacity: 1;
  color: transparent;
  background-image: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  cursor: pointer;
  transition: all 0.3s;
}
.container-restaurant .cards-menus {
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin-left: 0px;
  margin-bottom: 0px;
  background-color: white;
}
.container-restaurant .cards-menus img {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  object-fit: cover;
  padding-left: 0%;
  padding-bottom: 0%;
  box-sizing: border-box;
}
.container-restaurant .cards-menus .container-content {
  border-radius: 15px 15px 0 0;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  background-color: rgb(248, 244, 244);
  border-radius: 25px 25px 0 0;
  bottom: 20px;
  width: 100%;
  margin: 0%;
  padding-bottom: 30px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .container-restaurant .cards-menus .container-content {
    width: 100%;
    z-index: 1;
  }
}
@media (min-width: 1024px) {
  .container-restaurant .cards-menus .container-content {
    width: 70%;
  }
}
@media (min-width: 1440px) {
  .container-restaurant .cards-menus .container-content {
    width: 60%;
    margin-left: 85px;
  }
}
.container-restaurant .cards-menus .container-content .section-subtitle {
  padding-bottom: 5px;
  border-bottom: 3px solid #99E2D0;
  font-size: 13px;
  margin-bottom: 0%;
  padding-left: 0px;
  width: 25px;
  margin-left: 10px;
}
@media (min-width: 768px) {
  .container-restaurant .cards-menus .container-content .section-subtitle {
    width: 3%;
    padding-left: 0px;
    margin-left: 90px;
  }
}
@media (min-width: 1024px) {
  .container-restaurant .cards-menus .container-content .section-subtitle {
    width: 3%;
    margin-left: 85px;
  }
}
@media (min-width: 1440px) {
  .container-restaurant .cards-menus .container-content .section-subtitle {
    width: 2%;
    margin-left: 20px;
  }
}
.container-restaurant .cards-menus .container-content .nav {
  display: flex;
  justify-content: space-between;
  margin-top: 0%;
  width: 90%;
  border-radius: 15px;
  background-color: white;
  padding-bottom: 0%;
  padding-top: 0%;
  margin: 10px;
  margin-left: 10px;
  font-size: 13px;
  z-index: 1;
  overflow: hidden;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .container-restaurant .cards-menus .container-content .nav {
    width: 70%;
    margin-left: 90px;
  }
}
@media (min-width: 1024px) {
  .container-restaurant .cards-menus .container-content .nav {
    width: 70%;
    margin-left: 85px;
  }
}
@media (min-width: 1440px) {
  .container-restaurant .cards-menus .container-content .nav {
    width: 70%;
    margin-left: 15px;
  }
}
.container-restaurant .cards-menus .container-content :hover .check {
  transform: scaleX(0);
  visibility: visible;
}
.container-restaurant .cards-menus .container-content :hover .check {
  transform: scaleX(1);
  visibility: visible;
}
.container-restaurant .cards-menus .container-content .menus {
  width: 100%;
  margin-bottom: 20px;
  height: 50px;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 10px;
}
.container-restaurant .cards-menus .container-content .menus p {
  width: 200px;
  margin-top: 3px;
  margin-bottom: 0px;
  font-size: small;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.container-restaurant .cards-menus .container-content .menus h3 {
  font-size: 16px;
  width: 200px;
}
.container-restaurant .cards-menus .container-content .menus h3 {
  margin-bottom: 0%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media (min-width: 768px) {
  .container-restaurant .cards-menus .container-content .menus h3 {
    /* text-overflow: clip;*/
    white-space: nowrap;
    overflow: visible;
  }
}
.container-restaurant .cards-menus .container-content :hover .menus {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.container-restaurant .cards-menus .container-content :hover .menus P {
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media (min-width: 768px) {
  .container-restaurant .cards-menus .container-content :hover {
    /* text-overflow: clip;*/
    white-space: nowrap;
    overflow: visible;
  }
}
.container-restaurant .cards-menus .container-content span {
  display: flex;
  flex-direction: row;
  width: 10%;
  align-items: end;
  justify-content: end;
  text-align: end;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-left: 20px;
  font-size: 16px;
  border-radius: 0 15px 15px 0;
  /*transform: scaleX(1);
   transition: transform 0.5s ease-in-out;
  overflow: visible;*/
}
.container-restaurant .cards-menus .container-content .check {
  width: 2%;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 25px;
  padding-top: 25px;
  /* margin-top: 10px;*/
  /*margin-left: 40px;*/
  background-color: #99E2D0;
  transform-origin: 100% 50%;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  /*visibility: hidden;*/
}
.container-restaurant .cards-menus .container-content .fa-circle-check {
  justify-content: center;
  text-align: center;
  color: white;
}
.container-restaurant .btn-nav {
  padding-top: 50px;
  margin-left: 85px;
}
.container-restaurant .btn-nav.btn {
  width: 20%;
  text-align: center;
}

/*******version tablette*******/
@media (min-width: 768px) {
  .container-restaurant {
    display: flex;
    width: 100%;
  }
  .container-restaurant .cards-menus {
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    align-items: center;
  }
  .container-restaurant .cards-menus img {
    height: 185px;
    width: 100%;
  }
  .container-restaurant .title {
    justify-content: space-around;
    width: 50%;
    justify-content: center;
    margin-left: 150px;
  }
  .container-restaurant .container-content {
    /* & .cards-texte {
       margin-left: 30px;
     }*/
  }
  .container-restaurant .container-content p .section-subtitle {
    font-size: large;
    margin-left: 70px;
  }
  .container-restaurant .container-content .menus {
    width: 100%;
  }
  .container-restaurant .container-content span {
    width: 10%;
    align-items: flex-end;
    text-align: end;
    justify-content: left;
    padding-left: 0px;
    padding-top: 30px;
    padding-bottom: 0%;
    margin: 0%;
  }
  .container-restaurant .container-content span .check {
    margin-left: 120px;
  }
  .container-restaurant .container-content .nav {
    margin-left: 100px;
    padding-left: 30px;
  }
  .container-restaurant .container-content .commande {
    width: 10%;
    margin-top: 0px;
  }
  .container-restaurant .btn {
    width: 20%;
    margin-left: 170px;
  }
}
/*******version desktop*******/
@media (min-width: 1024px) {
  .container-restaurant {
    display: flex;
    width: 100%;
  }
  .container-restaurant .cards-menus {
    width: 100%;
  }
  .container-restaurant .cards-menus img {
    height: 270px;
  }
  .container-restaurant .cards-menus.title {
    width: 100%;
    padding-right: 150px;
    margin-right: 130px;
  }
  .container-restaurant .cards-menus.title .icons {
    position: relative;
    top: 20px;
    left: 17px;
    left: 40px;
    top: 8px;
    text-align: center;
  }
  .container-restaurant .cards-menus.title .icons i {
    position: absolute;
    top: 20px;
    right: 50px;
  }
  .container-restaurant .cards-menus.title .icons .fa-solid {
    opacity: 0;
  }
  .container-restaurant .cards-menus.title .icons .fa-solid:hover {
    opacity: 1;
    color: transparent;
    background-image: linear-gradient(#9356dc, #ff79da);
    background-clip: text;
    cursor: pointer;
    transition: all 0.3s;
  }
  .container-restaurant .cards-menus.title h2 .section-title {
    font-size: 22px;
    margin-bottom: 0%;
    padding-right: 150px;
    margin-right: 130px;
  }
  .container-restaurant .cards-menus a .section-subtitle {
    font-size: large;
    margin-left: 0%;
    padding-left: 0%;
    padding-bottom: 0%;
  }
  .container-restaurant .cards-menus span {
    align-items: flex-end;
    text-align: end;
    justify-content: left;
    padding-left: 100px;
    padding-top: 0px;
    margin: 0%;
    padding-bottom: 0%;
  }
  .container-restaurant .cards-menus span .check {
    margin-left: 100px;
  }
  .container-restaurant .cards-menus.nav {
    justify-content: center;
    /*margin-left: 150px;*/
    padding-left: 10px;
    width: 100%;
  }
  .container-restaurant .cards-menus .cards-texte {
    margin-left: 10px;
    width: 75%;
  }
  .container-restaurant .cards-menus .commande {
    width: 10%;
    margin-top: 0px;
  }
  .container-restaurant .btn {
    width: 20%;
    margin-left: 155px;
  }
}
/*******version desktop*******/
@media (min-width: 1440px) {
  .container-restaurant {
    display: flex;
    width: 100%;
  }
  .cards-menus {
    width: 100%;
  }
  .cards-menus img {
    height: 290px;
  }
  .title {
    /* width: 60%;*/
    justify-content: center;
  }
  .title .section-title {
    font-size: 24px;
  }
  .container-content {
    padding-left: 100px;
    right: 40px;
  }
  .container-content .section-subtitle {
    font-size: large;
    margin-left: 10px;
  }
  .container-content span {
    align-items: flex-end;
    text-align: end;
    justify-content: left;
    padding-left: 180px;
    padding-top: 0px;
    margin: 0%;
  }
  .container-content span .check {
    margin-left: 50px;
  }
  .container-content .nav {
    margin-left: 100px;
    padding-left: 30px;
  }
  .container-content .cards-texte {
    margin-left: 270px;
    width: 75%;
  }
  .container-content .commande {
    width: 10%;
    margin-top: 0px;
  }
  .btn {
    width: 20%;
    margin-left: 130px;
  }
}
/*  animation: avec un décalage de quelques secondes */
/*}*/
@keyframes appearEntry {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes appearDish {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes appearDessert {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.entry, .dish, .dessert {
  opacity: 0;
}

.entry {
  animation: appearEntry 1s ease 1s forwards;
}

.dish {
  animation: appearDish 1s ease 2s forwards;
}

.dessert {
  animation: appearDessert 1s ease 3s forwards;
}

/*# sourceMappingURL=styles.css.map */
