@use "../utils/mixins" as *;
.cards-menus__card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  position: relative;
  top: 20px;
  left: 17px;
}

.cards-menus__card img{
  object-fit: cover;
}

 
.cards-menus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 20px;

  box-sizing: border-box;

  & h2 {
    margin-left: 15px;
   /* padding-left: 30px;*/
  }

  a {
    text-decoration: none;
    color: #000000;
    width: 100%;
    .cards-menus__card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 15px;
      box-shadow: 1px 1px 1px 1px rgb(244, 232, 232);
      margin-bottom: 20px;
      padding: 0%;

      & img{
        width: 100%;
        height: 150px;
        border-radius: 15px 15px 0 0;
        padding-bottom: 0%; 
      }
    }
  }
  .card-content{
    display: flex;
    flex-direction: row;
    width: 100%;
    /* margin-right: 15px;*/
    font-size: 20px;
    justify-content: space-between;
  
  
  & .icons {
    position: relative;
    top: 20px;
    left: 17px;
  }

  & i {
    position: absolute;
    top: 20px;
    right: 50px;
  }

  & .fa-solid {
    opacity: 0;

    &:hover {
      opacity: 1;
      @include gradient();
      transition: all 0.3s;
    }
  }
  }


  .news {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #99e2d0;
    color: #217a64;
    border-radius: 3px;
    position: absolute;
    right:20px;
    width: 80px;
    height: 30px;
    top: 20px;
    
  }

}



@include breakpoint(small) {
 
     .cards-menus {
      margin: 10px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      box-sizing: border-box;
      width: 100%;
      /*justify-content: center;*/
      text-decoration: none;
      align-items: center;
      background-color: rgb(245, 241, 241);
      /*margin-left: 25px;*/
     

     
    /*& .card-content {
      width: 100%;
    }*/
     


a {
  text-decoration: none;
  color: #000000;
  width: 45%;
  margin: 15px;
  flex-wrap: wrap;
  flex-direction: row;
  .cards-menus__card {
      /*flex-wrap: wrap;*/
      display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 15px;
    box-shadow: 1px 1px 1px 1px rgb(244, 232, 232);
    margin-bottom: 20px;
    padding: 0%;
    /* margin-left: 20px;-*/


    & img {
      width: 100%;
      height: 150px;
      border-radius: 15px 15px 0 0;
      padding-bottom: 0%;
    }
  }
}  


.card-content {
  display: flex;
  flex-direction: row;
  width: 100%;
   margin-left: 15px;
  font-size: 20px;
  justify-content: space-between;

  & .icons {
    position: relative;
    top: 20px;
    left: 17px;
  }

  & i {
    position: absolute;
    top: 15px;
    right: 50px;
  }

  & .fa-solid {
    opacity: 0;

    &:hover {
      opacity: 1;
      @include gradient();
      transition: all 0.3s;
    }
  }
}
     

.news {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #99e2d0;
  color: #217a64;
  border-radius: 3px;
  position: relative;
  left: 120px;
  width: 80px;
  height: 30px;
  top: -130px;
  

  /* @include breakpoint(medium){
            margin-left: 40px;
        }*/
}
}
}

@include breakpoint(medium) {
 
  .cards-menus {
   margin: 10px;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   box-sizing: border-box;
   width: 100%;
   /*justify-content: center;*/
   text-decoration: none;
   align-items: center;
   background-color: rgb(245, 241, 241);
   /*margin-left: 25px;*/
  
   & h2 {
    margin-left: 55px;
   
  }

a {
text-decoration: none;
color: #000000;
width: 43%;
margin: 15px;
flex-wrap: wrap;
flex-direction: row;
.cards-menus__card {
   /*flex-wrap: wrap;*/
   display: flex;
 justify-content: center;
 align-items: center;
 
 border-radius: 15px;
 box-shadow: 1px 1px 1px 1px rgb(244, 232, 232);
 margin-bottom: 20px;
 padding: 0%;
 /* margin-left: 20px;-*/


 & img {
   width: 100%;
   height: 150px;
   border-radius: 15px 15px 0 0;
   padding-bottom: 0%;
 }
}
} 
  
  .news {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #99e2d0;
    color: #217a64;
    border-radius: 3px;
    position: relative;
    left: 160px;
    width: 80px;
    height: 30px;
    top: -140px;
   
  
} 
}
}

@include breakpoint(large) {
 
  .cards-menus {
   margin: 10px;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   box-sizing: border-box;
   width: 100%;
   /*justify-content: center;*/
   text-decoration: none;
   align-items: center;
   background-color: rgb(245, 241, 241);
   /*margin-left: 25px;*/
  
   & h2 {
   /* margin-left: 105px;*/
   padding-left: 90px;
  }

a {
text-decoration: none;
color: #000000;
width: 39%;
margin: 15px;
flex-wrap: wrap;
flex-direction: row;
.cards-menus__card {
   /*flex-wrap: wrap;*/
   display: flex;
 justify-content: center;
 align-items: center;
 margin-right: 10px;
 border-radius: 15px;
 box-shadow: 1px 1px 1px 1px rgb(244, 232, 232);
 margin-bottom: 20px;
 padding: 0%;
 /* margin-left: 20px;-*/


 & img {
   width: 100%;
   height: 150px;
   border-radius: 15px 15px 0 0;
   padding-bottom: 0%;
 }
}
} 
  
  .news {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #99e2d0;
    color: #217a64;
    border-radius: 3px;
    position: relative;
    left: 210px;
    width: 80px;
    height: 30px;
    top :-140px;

  
} 
}
}


/************************je refais depuis le début ****************/

/*.cards-menus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 0px;
  width: 100%;

  box-sizing: border-box;

  & a .cards-menus__card {
    width: 100%;
   /* box-sizing: border-box;*/

/*& img {
      width: 100%;
      height: 150px;
      object-fit: cover;
      border-radius: 15px 15px 0 0;
      padding-bottom: 0%;
      margin: 0%;
      padding: 0%;
    }
  }


  & h2 {
    margin-left: 55px;
    padding-left: 30px;
  }

  a {
    text-decoration: none;
    color: #000000;
    margin: 0%;
}

  @include breakpoint(small) {
    .cards-menus {
      margin: 20px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;
      text-decoration: none;
      align-items: center;
      background-color: rgb(245, 241, 241);
      box-sizing: border-box;

      &  .cards-menus__card a {
        width: 30%;
        height: auto;
        flex-wrap: wrap;
        
        /* margin-left: 40px;*/

/* & img {
        width: 100%;
      }
    }

      & .card-content {
        width: 100%;
        font-size: 18px;
        justify-content: space-between;

        /* & .card-txt .card-subtitle {

        top: 0%;
       /*margin: 0%;*/
/* position: relative;
        left: 15px;
        bottom: 15px;
        font-size: 16px;


       /* @include breakpoint(medium){
            padding-left: 35px;  
            }*/
/*}

      /*  & .card-txt .card-title {

        top: 15%;
        margin: 0%;
        position: relative;
        left: 15px;
        margin-bottom: 0%;
        padding-bottom: 0%;
        font-size: 18px;

    }*/

/* & .icons {
        display: flex;
        flex-direction: row;
        position: relative;
        bottom: 20px;
        left: 10px;

        /* @include breakpoint(medium){
            flex-direction: row;
        position: relative;
     top: 20px;
        left: 210px;
            } 
    
   }*/
/* }

      & i {
        display: flex;
        flex-direction: row;
        /*justify-content: start;*/
/*position: absolute;
        bottom: 90px;
        right: 26px;
        height: 22px;
        font-size: 18px;

        /* @include breakpoint(medium){
            position: absolute;
            margin-top: 30px;
            left: 230px;
            } */
/*  }
    }

    & .card-txt .section-subtitle {
      margin-left: 15px;
      font-size: large;
      margin-bottom: 0%;
    }

    & .card-txt .card-title {
      margin-bottom: 0%;
      padding-bottom: 0%;
    }

    & a .cards-menus__card {
     /* margin: 40px;*/
/* background-color: white;
      width: 420px;
      padding-bottom: 0%;
      justify-content: space-around;

      /*  @include breakpoint(medium){
        margin: 40px;
        background-color: white;
        width: 370px;
        padding-bottom: 0%;
        margin-left: 30px;
    
        } */
/* }
  }
}

.card-content {
  display: flex;
  flex-direction: row;
  margin-right: 15px;
  font-size: 20px;
  justify-content: space-around;
  width: 100%;

  & .card-text {
    display: flex;
    text-align: left;
    justify-content: left;
    padding: 0%;
  }

  & i {
    position: absolute;
    margin-top: 30px;
    right: 65px;
  }

  & .fa-solid {
    opacity: 0;

    &:active {
      opacity: 1;
      @include gradient();
    }
  }
}

.news {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #99e2d0;
  color: #217a64;
  border-radius: 3px;
  position: relative;
  left: 100px;
  width: 80px;
  height: 30px;
  bottom: 140px;
}

/*.cards-menus {
  margin: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  background-color: rgb(245, 241, 241);
  margin-left: 65px;
  flex-direction: row;

  & a .cards-menus__card {
    width: 100%;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-left: 40px;
  }

  /* @include breakpoint(medium){
       width: 100%;
    }*/

/* & h2 {
    margin-right: 100px;

    font-size: large;
    width: 100%;
    @include breakpoint(medium) {
      margin-left: 55px;
      font-size: large;
    }
  }*/

/*@include breakpoint(medium) {
    .cards-menus {
      margin: 30px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      justify-content: center;
      text-decoration: none;
      align-items: center;
      background-color: rgb(245, 241, 241);

      & .cards-menus__card {
        width: 100%;
        height: auto;
        flex-wrap: wrap;
        box-sizing: border-box;
        /* margin-left: 40px;*/
/*}

      & img {
        width: 100%;
      }

      & .card-content {
        width: 100%;
        font-size: 18px;
        justify-content: space-between;

        /* & .card-txt .card-subtitle {

        top: 0%;
       /*margin: 0%;*/
/* position: relative;
        left: 15px;
        bottom: 15px;
        font-size: 16px;


       /* @include breakpoint(medium){
            padding-left: 35px;  
            }*/
/*}

      /*  & .card-txt .card-title {

        top: 15%;
        margin: 0%;
        position: relative;
        left: 15px;
        margin-bottom: 0%;
        padding-bottom: 0%;
        font-size: 18px;

    }*/

/*& .icons {
        display: flex;
        flex-direction: row;
        position: relative;
        bottom: 20px;
        left: 10px;

        /* @include breakpoint(medium){
            flex-direction: row;
        position: relative;
     top: 20px;
        left: 210px;
            } 
    
   }*/
/* }

      & i {
        display: flex;
        flex-direction: row;
        /*justify-content: start;*/
/*position: absolute;
        bottom: 90px;
        right: 26px;
        height: 22px;
        font-size: 18px;

        /* @include breakpoint(medium){
            position: absolute;
            margin-top: 30px;
            left: 230px;
            } */
/*}
    
  

    & .card-txt .section-subtitle {
      margin-left: 15px;
      font-size: large;
      margin-bottom: 0%;
    }

    & .card-txt .card-title {
      margin-bottom: 0%;
      padding-bottom: 0%;
    }

    & a .cards-menus__card {
      margin: 40px;
      background-color: white;
      width: 420px;
      padding-bottom: 0%;
      justify-content: space-around;

      /*  @include breakpoint(medium){
        margin: 40px;
        background-color: white;
        width: 370px;
        padding-bottom: 0%;
        margin-left: 30px;
    
        } */
/* }
  }
  }


/* @keyframes toggleIcons{
        0% {
            opacity: 1;
        }
    
    
        100%{
            opacity: 1;
        }
    }*/

/*@include breakpoint(large) {
  .cards-menus {
    width: 80%;

    & .cards-menus__card {
      width: 100%;
      height: auto;
      flex-wrap: wrap;
      box-sizing: border-box;
      margin-left: 40px;

      & img {
        width: 100%;
      }

      & .section-subtitle {
        margin-left: 130px;
        font-size: 22px;
        margin-bottom: 0%;
      }

      & .card-content {
        width: 100%;
        font-size: 18px;

        & .icons {
          width: 100%;
          height: 20px;
          position: relative;
          top: 0px;
          right: 10px;
          width: 20%;
        }

        &i {
          position: absolute;
          top: 0px;
          left: 100px;
        }
      }
    }
  }
  .news {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #99e2d0;
    color: #217a64;
    border-radius: 3px;
    position: relative;
    margin-left: 120px;
    width: 80px;
    height: 30px;
    bottom: 140px;
  }
}*/
