@use "./variables" as *;


@mixin gradient(){
    color: transparent;
    background-image: linear-gradient($primairy-color, $secondary-color);
    background-clip: text;
   
    cursor: pointer;
}

@mixin breakpoint($point) {
    @if $point == small {
      @media (min-width: 768px) { @content; }
    }
    @else if $point == medium {
      @media (min-width:1024px) { @content; }
    }
    @else if $point == large {
      @media (min-width: 1440px) { @content; }
    }
  }

  /*apprendre à faire le mixin du bouton*/

 /* @mixin btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 40px;
    padding-left: 25px;
    padding-right: 25px;
    /*width: 270px;*/
    /*background: linear-gradient(#ee61ac, #dd3fce, #9f1aa1, );
    opacity: 0.9;
    border-radius: 30px;
    margin-bottom: 10px;
    box-shadow: 3px 3px 3px 3px rgb(218, 211, 211);



    & .section-subtitle {
        color: white;
        padding: 0px;

    }

    & {
        .section-subtitle:hover {
            transform: translate(-1vh);
        }
    }

    .section-subtitle {
        transition: transform 800ms ease;
    }


        &:hover{
            transform: scale(1.1);
        }

    &{
        transition: transform 800ms ease;

    }
  }*/

  /* faire un mixin footer*/
 /* @mixin footer {
    background-color: black;
    text-align: left;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: auto;

    & p {
        margin: 5px;
    }

    & a {
        text-decoration: none;
        color: white;
        display: flex;
        flex-direction: row;
        align-items: left;
        margin-left: 15px;

    }

    & i {
        padding-right: 10px;
        margin-top: 7px;
        font-size: small;
    }

    & .logo {
        color: white;
        text-align: left;
        justify-content: end;
        margin-bottom: 10px;
        margin-left: 15px;

        

    }
}*/